.price {
  @apply font-bold;

  del .amount {
      @apply text-ronaldo-500;
  }

  ins {
    @apply no-underline;

     .amount {
      @apply  border-none;
    }
  }
}

.single-product .price {
  @apply text-2xl text-highlight;
}

.single-product .product-type-variable .price-range {
  @apply hidden;
}

.reset_variations {
  display: none !important;
}

.single-product .variations tr {
  @apply flex flex-col items-start;
}

.single-product h1 {
  @apply font-semibold text-2xl lg:text-3xl xl:text-4xl w-full mb-6;
}

.single-product .product_meta {
  @apply order-1 border-t border-white border-opacity-20 pt-3 mt-auto w-full text-sm hidden;
}

.single-product .product_meta a {
  @apply text-highlight hover:underline;
}


/* Single product main image */
.woocommerce-product-gallery {
  @apply relative;

  .woocommerce-product-gallery__trigger {
    @apply absolute top-0 right-0 z-50 flex items-center justify-center w-12 h-12 bg-white;
  }

  .woocommerce-product-gallery__wrapper img {
    @apply w-full h-auto cursor-pointer;
  }  
}


/* Single product gallery thumbnails */
.flex-control-thumbs {
  @apply flex flex-wrap items-center mt-4;

  li {
    @apply w-1/2 p-2 cursor-pointer 2xs:w-1/3 xs:w-1/4 sm:w-1/6;

    img {
      @apply object-cover w-full;
    }
  }
}

/* Notice that appears after product added to cart */
.woocommerce-message {
  @apply p-4 mb-4 text-sm font-bold text-center rounded-md bg-highlight md:mb-8 md:text-left;

  a {
    @apply block p-4 mb-2 text-center bg-white md:inline-block md:mr-8 md:mb-0;
  }
}


/* Product quantity and add to cart */
.single-product .variations,
.single-product .variations td {
  @apply w-full max-w-48;
}

.single-product .variations label {
  @apply mb-1 mt-0 block;
}

.single-product .variations select {
  @apply font-semibold rounded border-none cursor-pointer transition duration-300 bg-gray-200 hover:bg-white;
}

.single-cart,
.variations_form {
  @apply mt-8 w-full mb-12;

  label {
    @apply my-2;
  }

  input {
    @apply border-none rounded;
  }

  .qty {
    @apply font-medium p-3 text-base text-center hidden;
    width: 100px;
  }

  button {
    @apply mt-6 bg-highlight text-base w-full max-w-84;
  }
}

.single-product .woocommerce-variation-price {
  @apply mt-6;
}


/* Tabs */
.product-tab-link {
  @apply inline-block;
  @apply px-4 py-2 mx-2;

  &.active {
    @apply font-bold rounded-t bg-highlight;
  }
}

.product-tab-panel {
  @apply border;
  @apply px-6 py-4;
}

/* Related products */
.related {
  @apply p-8 mb-8 bg-gray-100;
}


/* Upsells */
.upsells {
  h2 {
    @apply mb-2;
  }

  img {
    @apply w-40;
  }

  .woocommerce-loop-product__title,
  .price,
  .button {
    @apply hidden;
  }
}