<footer class="text-center p-6 mt-36 text-gray-300">

		<p>&copy; messivsronaldo.app {{ 'now' | date('Y') }}. All Rights Reserved. <a class="text-highlight underline" href="mailto:{{options.site_email}}">Contact</a></p>

</footer>