<footer class="text-center p-6 mt-36 text-gray-300">

		<p>&copy; messivsronaldo.app {{ 'now' | date('Y') }}. All Rights Reserved. <span class="menu-trigger text-highlight hover:text-highlight-300 underline cursor-pointer">Help &amp; Info</span></p>

</footer>