@import "tailwindcss/base";
@import "tailwindcss/components";

@import "partials/core.css";
@import "partials/header.css";
@import "partials/buttons.css";
@import "partials/cookies.css";
@import "partials/desktop-nav.css";
@import "partials/forms.css";
@import "partials/typography.css";

@import "woocommerce/single-product.css";
@import "woocommerce/mini-cart.css";
@import "woocommerce/reviews.css";
@import "woocommerce/product-tile.css";
@import "woocommerce/cart.css";
@import "woocommerce/checkout.css";
@import "woocommerce/pagination.css";
@import "woocommerce/account.css";
@import "woocommerce/widgets.css";
@import "woocommerce/grid.css";

@import "tailwindcss/utilities";


.woocommerce-breadcrumb {
  @apply text-sm overflow-hidden text-ellipsis whitespace-nowrap mb-6 xl:mb-10 2xl:mb-12 pb-4 border-b border-white border-opacity-20 w-full;
}

.woocommerce-breadcrumb a {
  @apply text-highlight hover:underline;
}