{% extends '_layout/base.twig' %}

{% block hero %}
{% endblock %}

{% block content %}

<div class="container px-1">

	{# <div class="mt-4 text-sm">
		{% do action('woocommerce_before_main_content') %}
	</div> #}

	<div class="before-shop-loop px-1 mb-5 lg:mb-8">
		<h1 class="text-highlight font-semibold w-full text-center md:text-lg lg:text-xl xl:text-2xl">{{ is_front_page ? 'Messi & Ronaldo' : title}} Wall Art</h1>
		{% do action('woocommerce_before_shop_loop') %}
	</div>

	<section class="w-full flex flex-wrap">

		{% for post in products %}
			{% include ["_shop/tease-product.twig"] %}
		{% endfor %}

	</section>

	{% do action('woocommerce_after_shop_loop') %}
	{% do action('woocommerce_after_main_content') %}

</div>

{% endblock  %}
