{% extends '_layout/base.twig' %}

{% block hero %}
{% endblock %}

{% block content %}

<div class="container mt-6 md:mt-8">

	<div class="md:p-6 xl:p-12 bg-noir-300">

		{% do action('woocommerce_before_single_product') %}

		<article itemscope itemtype="http://schema.org/Product" class="{{ post.class }}">
			<div class="flex flex-wrap">

				<div class="relative w-full md:w-6/12 entry-images">
					{% do action('woocommerce_before_single_product_summary') %}
				</div>

				<div class="flex flex-col items-start w-full md:w-6/12 p-8 md:py-0 lg:px-10 xl:px-16 xl:py-6 2xl:px-24">
					{% do action('woocommerce_before_main_content') %}
					{% do action('woocommerce_single_product_summary') %}

					{{fn('woocommerce_upsell_display')}}
				</div>
			</div>

			{# {% do action('woocommerce_after_single_product_summary') %} #}

			<meta itemprop="url" content="{{ post.link }}"/>
		</article>

		{# {% do action('woocommerce_after_single_product') %} #}

	</div>

	<div class="mt-8 p-8 xl:p-12 bg-noir-300">
		<div class="copy w-full max-w-screen-lg">
			<h2>Detailed Description</h2>
			{{post.content}}
		</div>
	</div>

</div>
{% endblock  %}
