{% extends "_layout/base.twig" %}

{% block hero %}
{% endblock %}

{% block content %}

<div class="container px-4">

  <main class="w-full">

    <div class="px-1 mb-5 lg:mb-8">
      <h1 class="text-highlight font-semibold w-full text-center md:text-lg lg:text-xl xl:text-2xl">Checkout</h1>
    </div>

    <div class="w-full max-w-[680px] mx-auto">
      {% do action('woocommerce_before_shop_loop') %}
      <div class="">
        {{post.content}}
      </div>
    </div>

  </main>

</div>

{% endblock %}